@import "tailwindcss";

/* Theme Configuration */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset, caramellatte, abyss, silk;
}

* {
  scrollbar-width: none;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

button:focus:not(:focus-visible),
a:focus:not(:focus-visible),
select:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
  outline: none !important;
  box-shadow: none !important;
}

html,
body {
  overflow: auto;
}

button,input,option,select{
  @apply rounded-xl;
}

/* RTL/LTR Support */
.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

/* RTL Specific Overrides */
.rtl .ml-auto {
  margin-left: unset;
  margin-right: auto;
}

.rtl .mr-auto {
  margin-right: unset;
  margin-left: auto;
}

.rtl .space-x-1 > :not([hidden]) ~ :not([hidden]),
.rtl .space-x-2 > :not([hidden]) ~ :not([hidden]),
.rtl .space-x-3 > :not([hidden]) ~ :not([hidden]),
.rtl .space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

