@import "tailwindcss";

/* Theme Configuration */
@plugin "daisyui" {
  themes: dark --default, dark --prefersdark, abyss;
}

* {
  scrollbar-width: none;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

button:focus:not(:focus-visible),
a:focus:not(:focus-visible),
select:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
  outline: none !important;
  box-shadow: none !important;
}

html,
body {
  overflow: auto;
}

button,input,option,select{
  @apply rounded-xl;
}

