@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, crazytoast;
}

* {
  scrollbar-width: none;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

button:focus:not(:focus-visible),
a:focus:not(:focus-visible),
select:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
  outline: none !important;
  box-shadow: none !important;
}

html,
body {
  overflow: hidden;
}

input,
select {
  @apply border-0 bg-gray-700/50 rounded-lg p-2 shadow-none text-white focus:ring-2 focus:ring-accent/50 focus:outline-0;
  border: 1px;
  outline: 1px;
}

option {
  @apply bg-gray-800 cursor-pointer hover:bg-gray-700;
}

.card {
  @apply transition-all ease-in-out duration-300 hover:border-gray-500/50 cursor-pointer hover:bg-gray-500/5;
}

html,
body {
  overflow: auto;
}
